<div class="school-card-container">
  <div class="top-section">
    <div class="school-logo">
      <img
        class="school-logo-img"
        src="https://cdn.ischoolconnect.com/logo/2233.png"
        alt="img"
      />
    </div>
    <div class="school-info">
      <div class="school-name">
        University of Connecticut - Storrs<img
          class="handshake-icon icon"
          src="../../../assets/handshake-solid.svg"
          alt="img"
        />
      </div>
      <div class="school-address">
        <img
          src="../../../assets/location-dot-solid.svg"
          class="location-icon"
          alt="img"
        /><span>Storrs, Connecticut</span
        ><img
          src="../../../assets/circle-solid.svg"
          class="disc-icon"
          alt="img"
        /><span>United States of America</span>
      </div>
      <div class="school-profile-wrapper">
        <div class="school-profile">
          <div class="school-profile-logo">
            <img
              src="../../../assets/medal-solid.svg"
              class="badge-icon"
              alt="img"
            />
          </div>
          <div class="school-profile-text">
            <div>201</div>
            <div>ISC Rank</div>
          </div>
        </div>
        <div class="school-profile">
          <div class="school-profile-logo">
            <img
              src="../../../assets/user-check-solid.svg"
              class="primary-icon"
              alt="img"
            />
          </div>
          <div class="school-profile-text">
            <div>100%</div>
            <div>Acceptance Rate</div>
          </div>
        </div>
        <div class="school-profile"></div>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <div class="course-container">
      <div class="course-details">
        <span class="course-title">Plant Science - Turfgrass Management</span>
        <div class="course-school">
          <img
            src="../../../assets/building-columns-solid.svg"
            class="primary-icon"
            alt="img"
          />
          <span>Ratcliffe Hicks School of Agriculture</span>
        </div>
        <div class="course-attributes">
          <div>
            <img
              src="../../../assets/graduation-cap-solid.svg"
              class="primary-icon"
            />
            <span class="course-attributes-title"> Associate </span>
          </div>
          <div>
            <img
              src="../../../assets/sack-dollar-solid.svg"
              class="fees-icon"
            />
            <span class="course-attributes-title"> 10,350 USD </span>
          </div>
          <div>
            <img
              src="../../../assets/calender-primary.svg"
              class="calender-icon"
            />
            <span class="course-attributes-title"> 2 years </span>
          </div>
        </div>
      </div>
      <div class="course-action">
        <div class="course-action-buttons">
          <button class="Add-to-favorits-btn">
            <img
              src="../../../assets/heart-regular.svg"
              alt="img"
              class="primary-icon"
            />
            <span> Add to Favorites </span>
          </button>
          <button class="apply-btn">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
