<div class="school-card-container">
  <div class="top-section">
    <div class="school-logo">
      <img
        class="school-logo-img"
        src="https://cdn.ischoolconnect.com/logo/2233.png"
        alt="img"
      />
    </div>
    <div class="school-info">
      <div class="school-name">
        <span>{{ schools.name }}</span>
        <img
          class="handshake-icon icon"
          src="../../../assets/handshake-solid.svg"
          alt="img"
        />
      </div>
      <div class="school-address">
        <img
          src="../../../assets/location-dot-solid.svg"
          class="location-icon"
          alt="img"
        /><span>{{ schools.address.city }}, {{ schools.address.state }}</span
        ><img
          src="../../../assets/circle-solid.svg"
          class="disc-icon"
          alt="img"
        /><span>{{ schools.address.country }}</span>
      </div>
      <div class="school-profile-wrapper">
        <div class="school-profile">
          <div class="school-profile-logo">
            <img
              src="../../../assets/medal-solid.svg"
              class="badge-icon"
              alt="img"
            />
          </div>
          <div class="school-profile-text">
            <div>
              {{
                schools.rank.isc_global.min &&
                schools.rank.isc_global.max &&
                schools.rank.isc_global.min != schools.rank.isc_global.max
                  ? schools.rank.isc_global.min +
                    " - " +
                    schools.rank.isc_global.max
                  : schools.rank.isc_global.max
                  ? schools.rank.isc_global.max
                  : schools.rank.isc_global.min
                  ? schools.rank.isc_global.min
                  : "-"
              }}
            </div>
            <div>ISC Rank</div>
          </div>
        </div>
        <div class="school-profile">
          <div class="school-profile-logo">
            <img
              src="../../../assets/user-check-solid.svg"
              class="primary-icon"
              alt="img"
            />
          </div>
          <div class="school-profile-text">
            <div>
              {{
                schools.stats.acceptance_rate
                  ? schools.stats.acceptance_rate + "%"
                  : "-"
              }}
            </div>
            <div>Acceptance Rate</div>
          </div>
        </div>
        <div class="school-profile"></div>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <ng-container *ngFor="let course of schools.courses">
      <div class="course-container">
        <div class="course-details">
          <span class="course-title">{{ course.name }}</span>
          <div class="course-school">
            <img
              src="../../../assets/building-columns-solid.svg"
              class="primary-icon"
              alt="img"
            />
            <span>{{ course.school_name }}</span>
          </div>
          <div class="course-attributes">
            <div>
              <img
                src="../../../assets/graduation-cap-solid.svg"
                class="primary-icon"
              />
              <span class="course-attributes-title">
                {{ course.degree[0] ? course.degree[0] : "-" }}
              </span>
            </div>
            <div>
              <img
                src="../../../assets/sack-dollar-solid.svg"
                class="fees-icon"
              />
              <span class="course-attributes-title">
                {{
                  course.tuition.value
                    ? course.tuition.value + " " + course.tuition.currency
                    : "-"
                }}
              </span>
            </div>
            <div>
              <img
                src="../../../assets/calendar-days-solid.svg"
                class="calender-icon"
              />
              <span class="course-attributes-title"> - </span>
            </div>
          </div>
        </div>
        <div class="course-action">
          <div class="course-action-buttons">
            <button class="Add-to-favorits-btn">
              <img
                src="../../../assets/heart-regular.svg"
                alt="img"
                class="primary-icon"
              />
              <span> Add to Favorites </span>
            </button>
            <button class="apply-btn">Apply</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
