.accordion-wrapper {
  height: 14.625rem;
  overflow-y: scroll;
  margin-top: 0.625rem;
}
.title {
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
}
button.accordion-button {
  margin: 0;
  padding: 0.3125rem 1.25rem;
}
.accordion-body {
  padding: 0;
}
.form-check-label {
  font-size: 0.875rem;
}
.filter-search-input-wrapper {
  display: block;
  width: 12.5rem;
}
.filter-search-input {
  border-radius: 1.875rem;
  margin-left: 1.25rem;
}
.form-check-input-wrapper {
  padding-left: 3.5rem;
}
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-item,
.accordion-button,
.accordion-body {
  background-color: transparent;
}
